          <ul class="nav navbar-nav">
            <li id="blog">
              <a href="/">
                学 习 笔 记
              </a>
            </li>
            <li id="tags">
              <a href="/tags/">
                标 签
              </a>
            </li>
            <li id="archives">
              <a href="/archives/">
                归 档
              </a>
            </li>
            <!-- <li>
              <a href="/categories.html">
                分 类
              </a>
            </li>
            <li>
              <a href="/tags.html">
                标 签
              </a>
            </li>
            <li>
              <a href="/archives.html">
                归 档
              </a>
            </li>
            <li>
              <a href="/faqs.html">
                备 忘
              </a>
            </li> -->
            <li id="about">
              <a href="/about/">
                关 于
              </a>
            </li>
          </ul>
